body {
    font-family: "MyriadPro-Regular.ttf";
    height: 100vh;
    background: #a7a9ac;;
}

@font-face {
    font-family: 'MyriadPro-Regular.ttf';
    src : url('../fonts/MyriadPro-Regular.ttf');
}

.text-default > ul > li > a {
    color: #0f75bc!important;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 16px;
    padding-top: 16px;
}

.text-default > ul > li:last-child > a {
    color : #fff!important;
    font-weight: 500;
    padding: 6px 0px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.my-row > div {
    padding-bottom: 16px;
}

.navbar {
    padding-bottom: 0!important;
    padding-top: 0!important;
}

.banner-info {}

.img-header {
    background-position: center!important;
    background-size: cover!important;
    width: 100%;
    height: 500px;
    position: relative;
    transition-delay: .1s;
    -webkit-animation: fadeIn 3s ease-in-out;
}

.carousel-indicators .active {
    background-color: transparent!important;
}

.img-header > img {
    position: absolute;
}


div.itens-func > p {
    color : #fff;
    margin-bottom: 0;
}

div.itens-func > span{
    display: none;
}

div.itens-func:hover > span {
    display: block;
}

div.itens-func:hover  {
    position: relative;
}

div.fig-caption {

}

.info-content {
    background: #fff;
}

.info-content > div > span{
    color: #a7a9ac;
    font-size: 0.875em;
    margin-bottom: 4px;
}

.info-content > div > p {
    font-size: .9em;
}

.info-content > div > h4{
    color : #0f75bc;
    font-size: 1.125em;
}

.info-content > div > a{
    color : #0f75bc;
    font-size: 0.875em;
    text-decoration: underline;
    font-weight: 600;
}

.sec-content{
    background: #f1f2f2;

}

.foo-content {
    height: auto;
    background: #636466;
    padding : 20px 0 ;
}

.foo-content > div >  ul > li > a {
    color : #fff;
    line-height: 2;
}



.foo-content > div > ul > li:nth-child(1), .foo-content > div > ul > li:nth-child(2) {
    display: inline;
    color: #fff;
    font-size: 1.6em;
}

.sub-footer {
    background: #4d4d4f;
}

.sub-footer > div > p {
    color: #fff;
    font-size: .7em;
    font-weight: lighter;
    margin-bottom: 0;
}

.sub-footer > div > p > span {
    font-weight: bold;
    line-height: 5;
}

.content-info > span {
    color : #fff;
    font-size: 1.1em;
}

.content-info > span > p {
    margin-bottom: 0;
}


input:checked ~ .content-info .uncheck,
.content-info:hover .uncheck {
    transition: 1s;
    overflow: visible;
    margin-bottom: 20px;
}

.content-info > span > .uncheck {
    height: 0;
    overflow: hidden;
    transition: 1s;

}

.content-info > input {
    display: none;
}

div.fig-caption {
    position: absolute;
    bottom: 8px;

}

/*.content-info:hover > span > .uncheck {*/
    /*display: block;*/

/*}*/

.header {
}

.header > .cols {
    position: relative;
    min-height: 100px;
    cursor : pointer;

}

.header > .cols > .caption {
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .5s all ease-in-out;
    color: #fff;
}

.header > .cols > .caption > .button {
    padding: 0 5px;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    height: 0;
    transition: .5s all ease-in-out;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.header > .cols:hover > .caption > .button {
    padding: 6px;
    opacity: 1;
    font-size : .9em;
    visibility: visible;
    max-height: 200px;
    height: 100%;
    margin-bottom: 20px;
}

.caption > p {
    font-size: .9em;
}


.navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 2px solid #0f75bc;
}

.nav-item:first-child > .nav-link {
    border-bottom: 2px solid #fff;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    .foo-content > div > ul > li > a {
        color: #fff;
        line-height: 0;
    }
    .my-row > div {
        padding-bottom: 16px;
    }

    .header > .cols > .caption {
        text-align: center;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        border-bottom: none;
    }

    .nav-item:first-child > .nav-link {
        border-bottom: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .login-info > .login {
        width: 36%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}

